<h2>Register a new account</h2>

<%= form_with model: @user, url: register_path do |form|%>

    <% if @user.errors.any?%>
        <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message|%>
            <div><%= message %></div>
            <%end%>
        </div>
    <%end%>

    <div class="mb-3" data-turbo="false">
        <%= form.label :email%>
        <%= form.text_field :email, class: "form-control", placeholder: "john@gmail.com" %>
    </div>
    <div class="mb-3" data-turbo="false">
        <%= form.label :name%>
        <%= form.text_field :name, class: "form-control", placeholder: "firstname lastname" %>
    </div>
    <div class="mb-3" data-turbo="false">
        <%= form.label :password%>
        <%= form.text_field :password, class: "form-control" %>
    </div>
    
    <div class="mb-3" data-turbo="false">
        <%= form.label :password_confirmation%>
        <%= form.text_field :password_confirmation, class: "form-control"  %>
    </div>
    <div class="mb-3" data-turbo="false">
        <%= form.submit "Create account", class:"btn btn-outline-primary"%>
    </div>

<%end%>