<nav class="navbar justify-content-center" style="background-color: #e3f2fd;">
  <!-- Navbar content -->
<ul class="nav">
  <li class="nav-item">
    <%= link_to "Home", root_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">WorkLog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">User Guide</a>
  </li>
  <% if Current.user%>
   <li class="nav-item">
    <a class="nav-link " href="#">Logged in as <%= Current.user.name%></a>
  </li>
   <li class="nav-item">
   <%= button_to "Logout", logout_path, method: :delete, class:"btn btn-outline-dark" %>
  </li>
  <% else %>
  <li class="nav-item">
    <%= link_to "Register", register_path, class: "nav-link"%>
  </li>
    <li class="nav-item">
    <%= link_to "Login", login_path, class: "nav-link"%>
  </li>
  <% end%>
</ul>
</nav>