<nav class="navbar justify-content-center" style="background-color: #e3f2fd;">
  <!-- Navbar content -->
<ul class="nav">
  <li class="nav-item">
    <%= link_to "Home", root_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">WorkLog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">User Guide</a>
  </li>
  <% if user_signed_in? %>
   <li class="nav-item">
    <a class="nav-link " href="#">Logged in as <%=current_user.name%></a>
  </li>
   <li class="nav-item">
   <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-outline-dark" %>
  </li>
  <%else%>
  <li class="nav-item">
    <%= link_to "Register", new_user_registration_path, class: "nav-link"%>
  </li>
    <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class: "nav-link"%>
  </li>
  <%end%>
</ul>
</nav>